html { height: 100%; }
body { margin:0;background:#d5ecfd; height: 100%; }
section-pages{--home-icon: url(../favicon.svg);--back-color:#d5ecfd;--tab-back:transparent;--tab-active:#62d1ff;--tab-inactive:#4e83bb;--tab-back:rgba(20,39,59,.8);}
section { width: 100%; height: 100%; }
button { cursor: pointer; user-select: none; box-sizing: content-box; padding: 0; outline: none; }
dialog::backdrop{ background: rgba(0,0,0,0.8); }
dialog { padding: 0; border: none; background: transparent; }
dialog > div{ background: #e4e4e4; display: flex; flex-direction: column; border-radius: 0.5rem; overflow: hidden; max-height: 80vh; }
dialog h3, h2 { background:#8ca6bb; margin: 0; padding: 0.5rem 1rem; display: flex; justify-content: space-between; align-items: center; }
dialog p { margin: 0.5rem; }
